- name: Ec2 get facts
  ec2_instance_info:
    region: "us-east-1"
    filters:
      instance-state-name: [ "running" ]
  register: ec2

- set-fact: ec2-id= "{{ ec2.stdout_lines|instance_id }}"
  
- name: Print name
  debug:
      var: ec2-id
